#recommend {
  width: 1190px;
  height: 122px;
  margin: 0 auto;
  overflow: hidden;
}
#recommend div {
  width: 202px;
  height: 80px;
  margin: 20px 15px;
  display: inline-block;
}
#recommend div img {
  display: inline-block;
  width: 80px;
  height: 80px;
  float: left;
}
#recommend div p {
  float: right;
  width: 120px;
}
#recommend div p span {
  color: red;
}
#navbar {
  width: 1190px;
  height: 22px;
  margin: 10px auto;
}
#navbar h3 {
  display: inline-block;
  float: left;
}
#screen {
  width: 1190px;
  margin: 0 auto 10px;
}
#screen #screen_left {
  width: 188px;
  display: inline-block;
}
#screen #screen_left #screen_left_top {
  width: 188px;
  height: 590px;
  border: 1px solid #C3C3C3;
}
#screen #screen_left #screen_left_top p {
  width: 188px;
  height: 40px;
  background: #F5F5F5;
  text-align: center;
  line-height: 40px;
}
#screen #screen_left #screen_left_top .screen_left_top_classes {
  text-align: center;
}
#screen #screen_left #screen_left_top .screen_left_top_classes .screen_left_top_class {
  text-align: center;
}
#screen #screen_left #screen_left_top .screen_left_top_classes .screen_left_top_class a {
  display: block;
}
#screen #screen_left #screen_left_ad {
  width: 188px;
  margin: 20px 0;
}
#screen #screen_left #screen_left_bottom {
  width: 189px;
}
#screen #screen_right {
  width: 990px;
  float: right;
}
#screen #screen_right #screen_right_top1 {
  width: 990px;
  height: 118px;
  border: 1px solid #C3C3C3;
}
#screen #screen_right #screen_right_top1 p {
  width: 113px;
  height: 118px;
  background: #F5F5F5;
  text-align: center;
  line-height: 118px;
  float: left;
}
#screen #screen_right #screen_right_top1 div {
  float: left;
  margin: 6px 20px;
  width: 792px ;
  height: 102px;
  border-top: 1px solid #C3C3C3;
  border-left: 1px solid #C3C3C3;
}
#screen #screen_right #screen_right_top1 div a {
  display: block;
  float: left;
  width: 112px;
  height: 50px;
  border-bottom: 1px solid #C3C3C3;
  border-right: 1px solid #C3C3C3;
}
#screen #screen_right #screen_right_top1 div a img {
  width: 112px;
  height: 50px;
}
#screen #screen_right #screen_right_top2 {
  width: 990px;
  border: 1px solid #C3C3C3;
  border-bottom: none;
}
#screen #screen_right #screen_right_top2 .screen_right_top2_son {
  width: 990px;
  height: 32px;
  border-bottom: 1px solid #C3C3C3;
}
#screen #screen_right #screen_right_top2 .screen_right_top2_son p {
  width: 113px;
  height: 32px;
  background: #F5F5F5;
  text-align: center;
  line-height: 32px;
  display: inline-block;
}
#screen #screen_right #screen_right_top2 .screen_right_top2_son div {
  display: inline-block;
}
#screen #screen_right #screen_right_top2 .screen_right_top2_son div a {
  padding: 5px;
  line-height: 32px;
}
#screen #screen_right #screen_right_top3 {
  width: 990px;
  height: 40px;
  margin: 10px auto;
}
#screen #screen_right #goods {
  width: 990px;
  overflow: hidden;
}
#screen #screen_right #goods .goods {
  width: 238px ;
  height: 442px;
  float: left;
  margin: 5px 4px;
  overflow: hidden;
}
#screen #screen_right #goods .goods .goods_tp {
  width: 238 ;
  text-align: center;
  border-bottom: 1px solid #C3C3C3;
}
#screen #screen_right #goods .goods .goods_tp_mini {
  width: 238 ;
  margin: 5px 10px;
}
#screen #screen_right #goods .goods .goods_tp_mini img {
  width: 38px;
}
#screen #screen_right #goods .goods .goods_message {
  overflow: hidden;
  width: 200px;
  margin: 0 10px;
}
#screen #screen_right #goods .goods .goods_message .price {
  font-size: 20px ;
  color: red;
  margin-left: 10px ;
}
#screen #screen_right #goods .goods .goods_message p {
  margin-top: 2px;
}
#screen #screen_right #goods .goods .goods_message p a {
  text-indent: 2em ;
}
#screen #screen_right #goods .goods .goods_message p .collect {
  display: block;
  float: right;
  color: blue;
}
